<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>inputT</title>
</head>
<body>

<form action="arbitrSearch" method="post">
    <div>
        <H2>Поиск дел по ИНН или ОГРН</H2>
        <h3>Укажите ИНН</h3>
        <p/>
        <input type="text" name="inn" placeholder="Введите ИНН">
        <p/>
        <h3>Укажите ОГРН</h3>
        <p/>
        <input type="text" name="ogrn" placeholder="Введите ОГРН">
        <p/>
    </div>
    <button>Найти</button>
</form>

</body>
</html>